
// Specific CSS for your home-page
.tools-title {
	font-family: 'EB Garamond', serif;
    font-size: 30px;
    
}


.creatria {
    font-family: 'Lobster', cursive;
}


img.clipped {
    width: 100%; /*Scales image to 150% width of parent container*/
    float: left; /*Floats image to left of container - clipping right hand side*/
    float: right; /*Floats image to right of container - clipping left hand side*/
}
.container {
    width: 50%; /*Use this to control width of the parent container, hence the image*/
    overflow: hidden;
    color: #d1b4a9;
    
}

body {
    background-color: #d1b4a9;
    }

.display-4 {
    background-color: #d1b4a9;
}

.jumbotron {

    background-color: #d1b4a9;
}

.card-group>.card {
    flex: 0 1 25% !important;
    border-radius: calc(.25rem - 1px) !important;
  }
  
  
  /* span 3 "columns"
  */
  
  .x3 {
    min-width: 75% !important;
  }
  
  
  /* span 2 "columns"
  */
  
  .x2 {
    min-width: 50% !important;
  }