
// Specific CSS for your home-page
.tools-title {
	font-family: 'EB Garamond', serif;
    font-size: 30px; 
}


.creatria {
    font-family: 'Lobster', cursive;
}


img.clipped {
    width: 100%; /*Scales image to 150% width of parent container*/
    float: left; /*Floats image to left of container - clipping right hand side*/
    float: right; /*Floats image to right of container - clipping left hand side*/
}

body {
    background-color: #d1b4a9;
    }