
<h1> Reservations </h1>
 
<% @reservations.each do |reservation| %>
  <p>
    <strong> Start-Date: </strong> 
    <%= reservation.start_date %> 
    
    <strong> Return-Date </strong> 
    <%= reservation.return_date %> 
  </p>
<% end %>