.card-product {
  overflow: hidden;
  // height: 120px;
  background: gainsboro;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

 
.image-product{
  height: 100%;
  width: 100%;
  object-fit: cover;
  }


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  
}

.show {
    padding: 30px;
    width: 700px;
    height: 180px;
}


.index-tools {
   padding: 80px;
}

//.cards-home {
  //margin-top: 250px;
//}
.card-banner {
  background-color: gainsboro;
  margin-top: 400px;
  position: relative;
}

// .index-tools {
//    padding: 80px;
// }

.text-blue {
  color: #6a040f;
  font-family: "Work Sans", "Montserrat", "sans-serif";
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  background: gainsboro;
  padding: 30px;
  border-radius: 10px
}
//.cards {
 // box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
//}
.flip-card-back{
  box-shadow: 0;
  border-radius: 20px
}


.image-product {
  border-radius: 20px
}
.pic {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.tool-show {
  margin-left: 414px !important;
}